body {
  margin: 0;
  font-family: 'Lora', serif;
  font-family: 'Playfair Display', serif;
  background: rgb(39, 38, 38);
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background: rgb(13, 196, 196);
  color: white;
  font-size: larger;
}

.text-section h1 {
  font-size: xx-large;
  display: flex;
  justify-content: center;
}

.text-section {
  display: flex;
  background: rgb(39, 38, 38);
  color: white;
  height: auto;
}

.first-card, .second-card, .third-card {
  margin: 20px 90px;
}

p {
  padding-left: 36px;
}

@media (max-width: 1024px) {
  .text-section {
    flex-direction: column;
  }
}